.hover-zoomin a {
  display: block;
  position: relative;
  overflow: hidden;
}
.hover-zoomin img {
  width: 100%;
  height: auto;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.hover-zoomin:hover img {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.1);
}

@media print {
  body *,
  #hapus *,
  #hapus2 *,
  #hapus3 * {
    visibility: hidden;
  }

  .printdong,
  .printdong * {
    visibility: visible;
  }

  .printdong {
    position: absolute;
    top: 2%;
  }
}
